.group-details-page {
    display: grid;
  font-size: 1rem;
  margin: 2rem;
  margin-bottom: 0rem;
}

.group-details-page, .about-events-section {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.return-nav {
  text-align: center;
  margin: 1rem 0;
}

.return-btn {
  display: flex;
  align-items: start;
  font-size: 1rem;
  color: #2196f3;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.buttons-container-groups {
  display: flex;
  margin-top: 8rem;

}

.buttons-container-groups button {
  background-color: gray;
  color: white;
}


.group-individual-header {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  grid-template-areas: "image"
  'text';
  grid-template-rows: auto;
  grid-template-columns: 2fr 3fr;
  width: 750px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.group-image {
  grid-area: image;
  width: 650px;
  height: 450px;
  align-self: center;
}

.group-info {
  font-size: 1rem;
  margin-top: 1rem;
  min-width: 300px;
}

.create-event-button {
    box-shadow: 2px 2px black;
    margin-right: 1rem;
    border: 2px solid black;
}

.update-group-button {
    margin-right: 1rem;
    box-shadow: 2px 2px black;
    border-radius: 5px solid black;
    border: 2px solid black;
}

.delete-group-button-div button {
  margin-right: 1rem;
  box-shadow: 2px 2px black;
  border-radius: 5px solid black;
  border: 2px solid black;
}

.delte-group-button-div {
    box-shadow: 2px 2px black;
    border: 2px solid black;
}
.join-group-button {
    box-shadow: 2px 2px black;
    border: 2px solid black;
}

.group-info p {
  color: #999999;
}

.group-name {
  font-size: 2rem;
}

.group-location {
  margin-bottom: 0.5rem;
}

.group-membership {
  display: flex;
  gap: 0.5rem;
}

.organizer {
  margin-top: 1rem;
}

.about {
  margin-top: 1rem;
}

.about h3 {
  margin-bottom: 0.5rem;
}

.about-events-section {
    background-color: rgb(238, 238, 238);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3rem;
    padding-top: 1.5rem;
}

.organizer-name {
    color: #999999;
}

.group-individual-events-container {
    margin-top: 1.25rem;
  }

  .group-individual-events-title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  .event-cards {
    margin-top: 1rem;
    display: grid;
    grid-template-areas:
      'img info'
      'descrip descrip';
    column-gap: 0.5rem;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
  }

  .event-cards-image {
    grid-area: img;
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  .event-cards-image:hover {
    cursor: pointer;
  }

  .event-cards-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
  }

  .event-cards-info > p {
    word-wrap: break-word;
    max-width: 13.6rem;
  }

  .event-cards-info > p:hover {
    cursor: pointer;
  }

  .event-cards-info-time {
    color: #00798A;
    font-size: 14px;
  }

  .event-cards-info-name {
    font-weight: 500;
    font-size: 18px;
  }

  .event-cards-info-location {
    color: #999999;
    font-size: 14px;
  }

  .event-cards-description {
    grid-area: descrip;
    margin-left: 1rem;
    display: flex;
    word-wrap: normal;
    width: auto;
  }

  .event-cards-description > p {
    font-size: 12px;
    cursor: pointer;
    width: 31.5rem;
    word-break: break-word;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
    max-width: 25rem;
  }
