.group-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .group-header {
    display: flex;
    justify-content: flex-start;
    margin-left: 6rem;
    margin-bottom: 16px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1.75rem;
  }

  .group-header :hover{
    text-decoration: underline;
    color: teal;
  }

  .groups-in-connect {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 6rem;
    color: gray;
  }

  .group-list-header-events,
  .group-list-header-groups {
    text-decoration: none;
    margin-right: 16px;
    color: inherit;
    display: flex;
    justify-content: center;
  }

  .group-list-item {
    margin-bottom: 16px;
  }

  .group-record-div {
    display: flex;
    border-top: 2px solid lightgray;
    padding: 16px;
    font-size: 1rem;
    margin: 1rem 5rem;
    align-items: flex-start;
  }

  .group-text-div {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
    }


    .group-record-img {
      width: 250px;
      height: 200px;
    }

    .group-list .group-record-div img{
        flex:0 0 auto;
       }

  .group-individual-record {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
  }

  .group-location,
  .group-about {
    margin: 8px 0;
  }

  .group-about {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .group-event {
    font-size: 14px;
    color: var(--dark-gray);
  }
