.landing-page {
    text-align: center;
  }

  .top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }


.top-section h1 {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.top-section p {
  font-size: 16px;
  margin-right: 10px;
}
.home-image {
    height: 200px;
    margin-left: 10px;
  }

  .middle-section {
    padding: 50px 0;
  }

  .middle-section h2 {
    font-size: 20px;
    font-weight: bold;
  }

  .middle-section p {
    font-size: 16px;
  }

  .features-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }

  .feature {
    width: 30%;
  }

  .feature h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .feature p {
    font-size: 16px;
  }

  .join-section {
    padding: 50px 0;
  }

  .join-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
  }
