.event-create-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  }

  .event-create-container h1 {
    font-size: 28px;
    font-weight: bold;
    color: teal;
  }

  .event-create-form {
    margin-top: 20px;
  }

  .event-create-form .form-group {
    margin-bottom: 20px;
  }

  .event-create-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .event-create-form input,
  .event-create-form select,
  .event-create-form textarea,
  #name {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #e8f0fe;
    margin-bottom: 3px;
  }

   #name {
    width: 30rem;
  }

  .event-create-form textarea{
    width: 30rem;
    height: 16rem;
  }

  .event-create-form select {
    width: 12rem;
  }

  #imageURL {
    width: 30rem;
  }


  .event-create-form select {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .event-create-form textarea {
    height: 100px;
  }

  .event-create-form .error {
    color: red;
    margin-top: 0.25rem;
  }

  .event-create-form .create-event-btn {
    display: block;
    width: 20%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 3px 3px 3px black;
  }

  .event-create-form .create-event-btn:hover {
    background-color: blue;
  }

  .eventType, .start-date, .img-url, .description {
    border-top: 3px solid gray;
    padding-top: 1rem;
  }
