.hidden {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid lightgray;
  }

  .logo-container {
    font-weight: bold;
  }

  .navigation-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navigation-links li {
    margin-left: 10px;
  }

  .navigation-links li:first-child {
    margin-left: 0;
  }

  .login {
    background-color: transparent;
    border: none;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
  }

  .signup {
    background-color: transparent;
    border: none;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
    cursor: pointer;
  }
  .favicon {
    margin-left: 40px;
    height: 90px;
    width: 110px;
  }

  .profilebutton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .profileicon {
    color: #5ad9ff;
    font-size: 30px;
  }

  .start-new-group {
    margin-right: 10px;
    margin-top: 7px;
}

.start-new-group a {
    text-decoration: none;
  }

  .arrow-icon {
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    color: grey;
    font-size: 19px;
    transition: transform 0.3s ease;
  }

  .active .arrow-icon {
    transform: translateY(-50%) rotate(180deg);
  }
  .navigation-links li .fa-chevron-up{
    position: relative;
    padding-right:3px;
    margin-left:0px;
    width:29px;
    bottom:-4px;
   }

   .profile-dropdown {
    background-color: white;
    position: absolute;
    padding-left: 0px;
    border: solid black 1px;
    list-style-type: none;
   }

   .bordertopbutton {
    border-top: solid black 1px;
   }
